button {
    display: flex;
    justify-content: start;
    width: 8rem;
    margin: 1.5rem 0 ;
    height: 2rem;
    justify-content: center;
    text-align:center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.6rem;
    background-color: rgb(207, 193, 220);
}